#app {
    font-family: 'Source Code Pro', monospace;
}

.editor {
    white-space: pre;
}

.editor-lead {
    display: inline-block;
    min-width: 24ch;
    margin-right: 1ch;
}

.editor-comment {
    font-style: italic;
    color: #505050;
}

.editor-dim {
    color: #505050;
}

.editor-entity {
    color: #00538b;
}

.editor-value {
    color: #0000bb;
}

.f-punctuation {
    color: #505050;
}
.f-keyword {
    color: #5317ac;
    font-weight: 700;
}
.f-editable-text {
    color: #00538b;
    color: #0000bb;
}
.f-error {
    color: #a60000;
    font-weight: 700;
}
.f-current-cell {
    background: #e0e0e0;
}
